/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/A0jrSpDDdze7.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/Op6QUo6FPFFE.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/pr4IEZpCZjti.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/U5BxazbsbrZJ.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/0Yfk4UnfbChr.otf') format('truetype');
}